{% extends 'hoteltp/base.html' %}
{% load static %}

{% block body %}
    <body id="blog_page">
	{% include 'hoteltp/navbar.html' %}
        <!-- start breadcrumb -->
        <section class="breadcrumb_main_area margin-bottom-80" style="background: url({% static 'hoteltp/img/gallery-breadcrumb.jpg'%}) no-repeat center center / cover #000000;">
            <div class="container-fluid">
                <div class="row">
                    <div class="breadcrumb_main nice_title">
                        <h2>Blogs</h2>
                        <!-- special offer start -->
                        <div class="special_offer_main">
                            <div class="container">
                                <div class="special_offer_sub">
                                    <img src="{% static 'hoteltp/img/special-offer-yellow-main.png'%}" alt="imf">
                                </div>
                            </div>
                        </div>         
                        <!-- end offer start -->
                    </div>
                </div>
            </div>            
        </section>
        <!-- end breadcrunb -->
        
        <section class="blog_area">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="clearfix blog_inner" data-uk-grid>
								<div class="margin-bottom-30 col-md-4 col-sm-6 col-xs-12">
									<div class="single_blog_style1">
										<div class="style_blog_img_box">
											<img src="{% static 'hoteltp/img/blog-pic1.jpg'%}" alt="img" />
											<a class="style_b_link" href="#"><i class="fa fa-link"></i></a>
										</div>
										<div class="at_love"><i class="fa fa-heart"></i></div>
										<div class="blog_text_box">
											<h5>Restaurant Services open </h5>
											<ul class="clearfix">
												<li><a href="#">By  Admin  |</a></li>
												<li><a href="#">3 Jan 2015  |</a></li>
												<li><a href="#">3 Comment</a></li>
											</ul>
											<p>Phasellus accumsan urna vitae molestie interdum. Nam sed placerat libero, non eleifend dolor. </p>
											<a href="single-blog.html">Read More</a>
										</div>
									</div>
								</div>
								<div class="margin-bottom-30 col-md-4 col-sm-6 col-xs-12">
									<div class="single_blog_style2">
										<div class="blog_img_box">
											<a href="#">http:// themeforest.net/users/wpmines</a>
											<a class="b_link" href="#"><i class="fa fa-link"></i></a>
										</div>
										<div class="blog_text_box">
											<ul class="clearfix">
												<li><a href="#">By  Admin  |</a></li>
												<li><a href="#">3 Jan 2015  |</a></li>
												<li><a href="#">3 Comment</a></li>
											</ul>
											<p>Phasellus accumsan urna vitae molestie interdum. Nam sed placerat libero, non eleifend dolor. </p>
											<a href="single-blog.html">Read More</a>
										</div>
									</div>
								</div>
								<div class="margin-bottom-30 col-md-4 col-sm-6 col-xs-12">
									<div class="single_blog_style1">
										<div class="style_blog_img_box">
											<img src="{% static 'hoteltp/img/blog-pic3.jpg'%}" alt="img" />
											<a class="style_b_link" href="#"><i class="fa fa-link"></i></a>
										</div>
										<div class="blog_text_box">
											<h5>Restaurant Services open </h5>
											<ul class="clearfix">
												<li><a href="#">By  Admin  |</a></li>
												<li><a href="#">23 May 2022  |</a></li>
												<li><a href="#">3 Comment</a></li>
											</ul>
											<p>Phasellus accumsan urna vitae molestie interdum. Nam sed placerat libero, non eleifend dolor. </p>
											<a href="single-blog.html">Read More</a>
										</div>
									</div>
								</div>
								<div class="margin-bottom-30 col-md-4 col-sm-6 col-xs-12">
									<div class="single_blog_style2">
										<div class="blog_img_box">
											<a href="#">http:// themeforest.net/users/wpmines</a>
											<a class="b_link" href="#"><i class="fa fa-link"></i></a>
										</div>
										<div class="blog_text_box">
											<ul class="clearfix">
												<li><a href="#">By  Admin  |</a></li>
												<li><a href="#">23 May 2022  |</a></li>
												<li><a href="#">3 Comment</a></li>
											</ul>
											<p>Phasellus accumsan urna vitae molestie interdum. Nam sed placerat libero, non eleifend dolor. </p>
											<a href="single-blog.html">Read More</a>
										</div>
									</div>
								</div>
								<div class="margin-bottom-30 col-md-4 col-sm-6 col-xs-12">
									<div class="single_blog_style1">
										<div class="style_blog_img_box">
											<img src="{% static 'hoteltp/img/blog-pic4.jpg'%}" alt="" />
											<a class="style_b_link" href="#"><i class="fa fa-link"></i></a>
										</div>
										<div class="blog_text_box">
											<h5>Restaurant Services open </h5>
											<ul class="clearfix">
												<li><a href="#">By  Admin  |</a></li>
												<li><a href="#">23 May 2022 |</a></li>
												<li><a href="#">3 Comment</a></li>
											</ul>
											<p>Phasellus accumsan urna vitae molestie interdum. Nam sed placerat libero, non eleifend dolor. </p>
											<a href="single-blog.html">Read More</a>
										</div>
									</div>
								</div>
								<div class="margin-bottom-30 col-md-4 col-sm-6 col-xs-12">
									<div class="single_blog_style2">
										<div class="blog_img_box">
											<a href="#">http:// themeforest.net/users/wpmines</a>
											<a class="b_link" href="#"><i class="fa fa-link"></i></a>
										</div>
										<div class="blog_text_box">
											<ul class="clearfix">
												<li><a href="#">By  Admin  |</a></li>
												<li><a href="#">23 May 2022  |</a></li>
												<li><a href="#">3 Comment</a></li>
											</ul>
											<p>Phasellus accumsan urna vitae molestie interdum. Nam sed placerat libero, non eleifend dolor. </p>
											<a href="single-blog.html">Read More</a>
										</div>
									</div>
								</div>
								<div class="margin-bottom-30 col-md-4 col-sm-6 col-xs-12">
									<div class="single_blog_style1">
										<div class="style_blog_img_box">
											<img src="{% static 'hoteltp/img/blog-pic5.jpg'%}" alt="" />
											<a class="style_b_link" href="#"><i class="fa fa-link"></i></a>
										</div>
										<div class="blog_text_box">
											<h5>Restaurant Services open </h5>
											<ul class="clearfix">
												<li><a href="#">By  Admin  |</a></li>
												<li><a href="#">23 May 2022  |</a></li>
												<li><a href="#">3 Comment</a></li>
											</ul>
											<p>Phasellus accumsan urna vitae molestie interdum. Nam sed placerat libero, non eleifend dolor. </p>
											<a href="single-blog.html">Read More</a>
										</div>
									</div>
								</div>
								<div class="margin-bottom-30 col-md-4 col-sm-6 col-xs-12">
									<div class="single_blog_style1">
										<div class="style_blog_img_box">
											<img src="{% static 'hoteltp/img/blog-pic7.jpg'%}" alt="" />
											<a class="style_b_link" href="#"><i class="fa fa-link"></i></a>
										</div>
										<div class="blog_text_box">
											<h5>Restaurant Services open </h5>
											<ul class="clearfix">
												<li><a href="#">By  Admin  |</a></li>
												<li><a href="#">23 May 2022  |</a></li>
												<li><a href="#">3 Comment</a></li>
											</ul>
											<p>Phasellus accumsan urna vitae molestie interdum. Nam sed placerat libero, non eleifend dolor. </p>
											<a href="single-blog.html">Read More</a>
										</div>
									</div>
								</div>
								<div class="margin-bottom-30 col-md-4 col-sm-6 col-xs-12">
									<div class="single_blog_style1">
										<div class="style_blog_img_box" style="background: rgba(0, 0, 0, 0) url({% static 'hoteltp/img/blog-pic-link-bg.png'%}) no-repeat scroll 0 0 / cover;
    height: 139px;
    margin-bottom: -21px;
    position: relative;
    width: 100%;">
											<img src="{% static 'hoteltp/img/blog-pic6.jpg'%}" alt="" />
											<a class="style_b_link" href="#"><i class="fa fa-link"></i></a>
										</div>
										<div class="blog_text_box">
											<h5>Restaurant Services open </h5>
											<ul class="clearfix">
												<li><a href="#">By  Admin  |</a></li>
												<li><a href="#">23 May 2022  |</a></li>
												<li><a href="#">3 Comment</a></li>
											</ul>
											<p>Phasellus accumsan urna vitae molestie interdum. Nam sed placerat libero, non eleifend dolor. </p>
											<a href="single-blog.html">Read More</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
    {% endblock %}